USE [master]
GO
/****** Object:  Database [TP4DB]    Script Date: 05/12/2020 18:29:43 ******/
CREATE DATABASE [TP4DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP4DB', FILENAME = N'E:\SqlExpress\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP4DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP4DB_log', FILENAME = N'E:\SqlExpress\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP4DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP4DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP4DB]
GO
/****** Object:  Table [dbo].[Botines]    Script Date: 05/12/2020 18:29:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Botines](
	[BotinesID] [int] IDENTITY(1,1) NOT NULL,
	[Origen] [varchar](50) NOT NULL,
	[PrecioCompra] [float] NOT NULL,
	[Talle] [int] NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Marca] [varchar](50) NOT NULL,
	[Tipo] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zapatillas]    Script Date: 05/12/2020 18:29:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zapatillas](
	[ZapatillasID] [int] IDENTITY(1,1) NOT NULL,
	[Origen] [varchar](50) NOT NULL,
	[PrecioCompra] [float] NOT NULL,
	[Talle] [int] NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Marca] [varchar](50) NOT NULL,
	[Tipo] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
